.striped-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  .striped-table tr:nth-child(odd) {
    background-color: #ffffff;
  }

  iframe {
    border: none; /* Remove iframe border */
    overflow: hidden; /* Hide scrollbars */
}
.no-margin-page {
}
.no-margin-page2 {
  margin: 0;
  padding: 0;
  width: 'max-content';
  display: block;
  background-color: green;
}